<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Hello World</title>
</head>
<body> 
    <h1 style="color: green;">Welcome {{name}}
        {{#if email}}
           <span style="color: red;">- {{email}}</span> 
        {{/if}}
    </h1>
    {{#if fruits}}
        <ul>
            {{#each fruits}}
                <li> {{this}} </li>
            {{/each}} 
        </ul>
    {{/if}}  
    {{#if events}}
        <ul>
            {{#each events}}
                <li> {{name}} - {{event}} </li>
            {{/each}} 
        </ul>
    {{/if}} 
    <a href="/student">Go to the student page!</a>
   
</body>
</html>